@tailwind base;

input[number]::-webkit-inner-spin-button, input[number]::-webkit-outer-spin-button, input::-moz-number-spin-up, input::-moz-number-spin-down {
  -webkit-appearance: none;
  margin: 0;
}

@tailwind components;

button {
  line-height: normal;
  padding: auto
}

.fantasy-title {
  @apply text-fantasy-accent text-4xl font-fantasy-title text-center mx-auto my-auto lg:mx-0 lg:text-left
}

.sci-fi-title {
  @apply text-sci-fi-accent text-4xl font-sci-fi-title text-center mx-auto my-auto lg:mx-0 lg:text-left
}

.fantasy-text {
    @apply font-fantasy-text text-fantasy-text text-lg leading-relaxed
}

.sci-fi-text {
    @apply font-sci-fi-text text-sci-fi-text text-lg leading-relaxed
}

.fantasy-label {
    @apply font-fantasy-label text-fantasy-label text-sm
}

.sci-fi-label {
    @apply font-sci-fi-label text-sci-fi-label text-sm
}

.bg-fantasy-primary {
  background-color: #930C10 !important;
}

.border-fantasy-primary {
  border-color: #930C10;
}

.text-fantasy-primary {
  color: #930C10;
}

.bg-fantasy-accent {
  background-color: #F7CE65;
}

.border-fantasy-accent {
  border-color: #F7CE65;
}

.text-fantasy-accent {
  color: #F7CE65;
}

.bg-fantasy-heading {
  background-color: #930C10;
}

.border-fantasy-heading {
  border-color: #930C10;
}

.text-fantasy-heading {
  color: #930C10;
}

.bg-fantasy-text {
  background-color: #930C10;
}

.border-fantasy-text {
  border-color: #930C10;
}

.text-fantasy-text {
  color: #930C10;
}

.bg-fantasy-secondary {
  background-color: #FFFEBD;
}

.border-fantasy-secondary {
  border-color: #FFFEBD;
}

.text-fantasy-secondary {
  color: #FFFEBD;
}

.bg-fantasy-neutral {
  background-color: #290000;
}

.border-fantasy-neutral {
  border-color: #290000;
}

.text-fantasy-neutral {
  color: #290000;
}

.bg-fantasy-label {
  background-color: #290000;
}

.border-fantasy-label {
  border-color: #290000;
}

.text-fantasy-label {
  color: #290000;
}

.bg-fantasy-contrast {
  background-color: #F7CE65;
}

.border-fantasy-contrast {
  border-color: #F7CE65;
}

.text-fantasy-contrast {
  color: #F7CE65;
}

.bg-fantasy-field {
  background-color: #FFFEE8;
}

.border-fantasy-field {
  border-color: #FFFEE8;
}

.text-fantasy-field {
  color: #FFFEE8;
}

.bg-fantasy-button-alt-border {
  background-color: #FFFEBD;
}

.border-fantasy-button-alt-border {
  border-color: #FFFEBD;
}

.text-fantasy-button-alt-border {
  color: #FFFEBD;
}

.bg-fantasy-toggle-switch {
  background-color: #930C10;
}

.border-fantasy-toggle-switch {
  border-color: #930C10;
}

.text-fantasy-toggle-switch {
  color: #930C10;
}

.bg-fantasy-toggle-void {
  background-color: #F7CE65;
}

.border-fantasy-toggle-void {
  border-color: #F7CE65;
}

.text-fantasy-toggle-void {
  color: #F7CE65;
}

.bg-fantasy-toggle-border {
  background-color: #FFFEBD;
}

.border-fantasy-toggle-border {
  border-color: #FFFEBD;
}

.text-fantasy-toggle-border {
  color: #FFFEBD;
}

.bg-fantasy-footer-text {
  background-color: #FFFEBD;
}

.border-fantasy-footer-text {
  border-color: #FFFEBD;
}

.text-fantasy-footer-text {
  color: #FFFEBD;
}

.bg-fantasy-form-heading {
  background-color: #930C10;
}

.border-fantasy-form-heading {
  border-color: #930C10;
}

.text-fantasy-form-heading {
  color: #930C10;
}

.bg-fantasy-game-name {
  background-color: #930C10;
}

.border-fantasy-game-name {
  border-color: #930C10;
}

.text-fantasy-game-name {
  color: #930C10;
}

.bg-fantasy-progress-void {
  background-color: #290000;
}

.border-fantasy-progress-void {
  border-color: #290000;
}

.text-fantasy-progress-void {
  color: #290000;
}

.bg-fantasy-progress-border {
  background-color: #930C10;
}

.border-fantasy-progress-border {
  border-color: #930C10;
}

.text-fantasy-progress-border {
  color: #930C10;
}

.bg-fantasy-progress-fill {
  background-color: #FFFEBD;
}

.border-fantasy-progress-fill {
  border-color: #FFFEBD;
}

.text-fantasy-progress-fill {
  color: #FFFEBD;
}

.bg-sci-fi-primary {
  background-color: #1352FF !important;
}

.border-sci-fi-primary {
  border-color: #1352FF;
}

.text-sci-fi-primary {
  color: #1352FF;
}

.bg-sci-fi-accent {
  background-color: #FF54A4;
}

.border-sci-fi-accent {
  border-color: #FF54A4;
}

.text-sci-fi-accent {
  color: #FF54A4;
}

.bg-sci-fi-heading {
  background-color: #D9D9D9;
}

.border-sci-fi-heading {
  border-color: #D9D9D9;
}

.text-sci-fi-heading {
  color: #D9D9D9;
}

.bg-sci-fi-secondary {
  background-color: #31333B;
}

.border-sci-fi-secondary {
  border-color: #31333B;
}

.text-sci-fi-secondary {
  color: #31333B;
}

.bg-sci-fi-neutral {
  background-color: #D9D9D9;
}

.border-sci-fi-neutral {
  border-color: #D9D9D9;
}

.text-sci-fi-neutral {
  color: #D9D9D9;
}

.bg-sci-fi-text {
  background-color: #D9D9D9;
}

.border-sci-fi-text {
  border-color: #D9D9D9;
}

.text-sci-fi-text {
  color: #D9D9D9;
}

.bg-sci-fi-label {
  background-color: #D9D9D9;
}

.border-sci-fi-label {
  border-color: #D9D9D9;
}

.text-sci-fi-label {
  color: #D9D9D9;
}

.bg-sci-fi-contrast {
  background-color: #B952E1;
}

.border-sci-fi-contrast {
  border-color: #B952E1;
}

.text-sci-fi-contrast {
  color: #B952E1;
}

.bg-sci-fi-field {
  background-color: #455055;
}

.border-sci-fi-field {
  border-color: #455055;
}

.text-sci-fi-field {
  color: #455055;
}

.bg-sci-fi-button-alt-border {
  background-color: #FF54A4;
}

.border-sci-fi-button-alt-border {
  border-color: #FF54A4;
}

.text-sci-fi-button-alt-border {
  color: #FF54A4;
}

.bg-sci-fi-toggle-switch {
  background-color: #FF54A4;
}

.border-sci-fi-toggle-switch {
  border-color: #FF54A4;
}

.text-sci-fi-toggle-switch {
  color: #FF54A4;
}

.bg-sci-fi-toggle-void {
  background-color: #31333B;
}

.border-sci-fi-toggle-void {
  border-color: #31333B;
}

.text-sci-fi-toggle-void {
  color: #31333B;
}

.bg-sci-fi-toggle-border {
  background-color: #D9D9D9;
}

.border-sci-fi-toggle-border {
  border-color: #D9D9D9;
}

.text-sci-fi-toggle-border {
  color: #D9D9D9;
}

.bg-sci-fi-footer-text {
  background-color: #D9D9D9;
}

.border-sci-fi-footer-text {
  border-color: #D9D9D9;
}

.text-sci-fi-footer-text {
  color: #D9D9D9;
}

.bg-sci-fi-form-heading {
  background-color: #FF54A4;
}

.border-sci-fi-form-heading {
  border-color: #FF54A4;
}

.text-sci-fi-form-heading {
  color: #FF54A4;
}

.bg-sci-fi-game-name {
  background-color: #D9D9D9;
}

.border-sci-fi-game-name {
  border-color: #D9D9D9;
}

.text-sci-fi-game-name {
  color: #D9D9D9;
}

.bg-sci-fi-progress-void {
  background-color: #FF54A4;
}

.border-sci-fi-progress-void {
  border-color: #FF54A4;
}

.text-sci-fi-progress-void {
  color: #FF54A4;
}

.bg-sci-fi-progress-border {
  background-color: #D9D9D9;
}

.border-sci-fi-progress-border {
  border-color: #D9D9D9;
}

.text-sci-fi-progress-border {
  color: #D9D9D9;
}

.bg-sci-fi-progress-fill {
  background-color: #1352FF;
}

.border-sci-fi-progress-fill {
  border-color: #1352FF;
}

.text-sci-fi-progress-fill {
  color: #1352FF;
}

.bg-fantasy-scene {
  background-color: #930C10;
}

.bg-sci-fi-scene {
  background-color: #455055;
}

.invalid-entry {
  border-color: rgb(244 63 94);
}

.font-fantasy-title {
  font-family: 'Yatra One', 'Macondo Swash Caps', 'cursive', 'Arial', 'sans-serif';
}

.font-fantasy-heading {
  font-family: 'Uncial Antiqua', 'Milonga', 'Macondo Swash Caps', 'cursive', 'Arial', 'TrebuchetMS', 'sans-serif';
}

.font-fantasy-text {
  font-family: 'Milonga', 'cursive', 'Arial', 'TrebuchetMS', 'sans-serif';
}

.font-fantasy-label {
  font-family: 'Verdana', 'Arial', 'sans-serif';
}

.font-sci-fi-title {
  font-family: 'Bruno Ace SC', 'Michroma', 'Oxanium', 'cursive', 'Arial', 'sans-serif';
}

.font-sci-fi-heading {
  font-family: 'Bruno Ace SC', 'Play', 'cursive', 'Arial', 'sans-serif';
}

.font-sci-fi-text {
  font-family: 'Sunflower', 'Oxanium', 'Tahoma', 'sans-serif';
}

.font-sci-fi-label {
  font-family: 'Verdana', 'Arial', 'sans-serif';
}

.h-overlay {
  height: calc(100vh - 7rem);
}

.link-text {
  color: rgb(0, 0, 255);
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(255, 255, 255, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh-40px);
  overflow: hidden;
  position: relative;
}

.modal-card-head {
  border-top-left-radius: 6px;border-top-right-radius: 6px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0.5rem;
  position: relative;
}

.modal-card-title {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.delete {
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  outline: 0;
  position: relative;
  vertical-align: top;
  margin: 0;
  padding: 1px 6px;
}

.modal-card-body {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  display: flex;
}

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0.5rem;
  position: relative;
}

.text-fade {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-mask-image: -webkit-linear-gradient(bottom, transparent, #000 40%);
}

.text-fade.chapter{
  -webkit-line-clamp: 4;
}

input.bg-sci-fi-field:-internal-autofill-selected {
  background-color: #455055!important;
  color: #D9D9D9!important;
}

input.bg-fantasy-field:-internal-autofill-selected {
  background-color: #FFFEE8!important;
  color: #930C10!important;
}

.fantasy-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #930C10; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  z-index: 50;
}

.sci-fi-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #D9D9D9; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  z-index: 50;
}

.fantasy-dropdown-choice {
  @apply font-fantasy-text text-fantasy-neutral text-base whitespace-pre-wrap
}

.sci-fi-dropdown-choice {
  @apply font-sci-fi-text text-sci-fi-neutral text-base whitespace-pre-wrap
}

.wrap-menu-text {
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fantasy-dropdown-choice.selected {
  @apply text-fantasy-accent bg-fantasy-primary
}

.sci-fi-dropdown-choice.selected {
  @apply text-sci-fi-field bg-sci-fi-neutral
}

.fantasy-dropdown-choice:hover {
  @apply text-fantasy-text bg-fantasy-secondary
}

.sci-fi-dropdown-choice:hover {
  @apply text-sci-fi-accent bg-sci-fi-primary
}

.fantasy-next, .fantasy-prev, .sci-fi-next, .sci-fi-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index:10;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.fantasy-next, .fantasy-prev {
  color: #fffee8!important;
}

.fantasy-next, .sci-fi-next {
  transform: translateX(-75%);
}

.sci-fi-next, .sci-fi-prev {
  color: #D9D9D9!important;
}

.fantasy-prev, .sci-fi-prev {
  transform: translateX(-25%);
}

.fantasy-next::after {
  content: '>';
  font-size: 32px;
  color: #fffee8;
  margin-left: 5px;
}

.fantasy-prev::before {
  content: '<';
  font-size: 32px;
  color: #fffee8;
  margin-left:5px;
}

.sci-fi-next::after {
  content: '>';
  font-size: 32px;
  color: #D9D9D9;
  margin-left:5px;
}

.sci-fi-prev::before {
  content: '<';
  font-size:32px;
  color: #D9D9D9;
  margin-left:5px;
}

.fantasy-dot li {
  fill: #290000;
  stroke: #FFFEBD;
}

.fantasy-dot li.active {
  fill: #930C10;
}

.sci-fi-dot li {
  fill: #1352FF;
  stroke: #D9D9D9;
}

.sci-fi-dot li.active {
  fill: #F7CE65;
}

.fantasy-increase-button {
  background-color: #930C10!important;
  border: 2px solid #F7CE65;
  color: #F7CE65;
}

.fantasy-decrease-button {
  background-color: #930C10!important;
  border: 2px solid #F7CE65;
  color: #F7CE65;
}

.sci-fi-increase-button {
  background-color: #1352FF!important;
  border: 2px solid #FF54A4;
  color: #FF54A4;
}

.sci-fi-decrease-button {
  background-color: #1352FF!important;
  border: 2px solid #FF54A4;
  color: #FF54A4;
}

.fantasy-gradient-start {
  background-image: linear-gradient(to bottom, #FFFEBD, #F7CE65 45%, #F7CE65);
}

.fantasy-gradient-end {
  background-image: linear-gradient(to top, #FFFEBD, #F7CE65 45%, #F7CE65);
}

.sci-fi-gradient-start {
  background-image: linear-gradient(to bottom, #31333B, #FF54A4 45%, #FF54A4);
}

.sci-fi-gradient-end {
  background-image: linear-gradient(to top, #31333B, #FF54A4 45%, #FF54A4);
}

.slider-wrapper {
  overflow-y: visible !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 18px solid #fff !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 18px solid #fff !important;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  border-top: 14px solid transparent !important;
  border-bottom: 14px solid transparent !important;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, input::-moz-number-spin-up, input::-moz-number-spin-down {
  -webkit-appearance: none;
  margin: 0;
  opacity: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button, input::-moz-number-spin-up, input::-moz-number-spin-down {
    -webkit-appearance: none;
    margin: 0;
  }
  
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px) {
  .fantasy-gradient-start {
    background-image: linear-gradient(to right, #FFFEBD, #F7CE65 45%, #F7CE65);
  }

  .fantasy-gradient-end {
    background-image: linear-gradient(to left, #FFFEBD, #F7CE65 45%, #F7CE65);
  }

  .sci-fi-gradient-start {
    background-image: linear-gradient(to right, #31333B, #FF54A4 45%, #FF54A4);
  }

  .sci-fi-gradient-end {
    background-image: linear-gradient(to left, #31333B, #FF54A4 45%, #FF54A4);
  }
}

@tailwind utilities;