:root {
    --primary-color:#930C10;
    --accent-color:#F7CE65;
    --light-accent-color:#FFFEBD;
    --dark-accent-color:#290000;
    font-size:14px;
}

body {
    background-color: var(--light-accent-color);
    color: var(--dark-accent-color);
    padding:0px;
    margin:0px;
    height:auto;
}

header {
    background-color:var(--primary-color);
}

img {
    max-width:4rem;
}

h2 {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 500;
}

.hero {
    background-color:var(--accent-color);
    height:1.75rem;
}

main {
    margin-top:1rem;
    padding:2rem;
}

.w-full {
    width:100%;
}

.p-2 {
    padding:0.5rem;
}

.p-3 {
    padding:0.75rem;
}

.reset-link {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-size:1.1rem;
    line-height:1.625;
    font-family: 'cursive', 'Arial', 'TrebuchetMS', 'sans-serif';
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.bg-fantasy-primary {
    background-color:var(--primary-color);
}

.fantasy-title {
    color:var(--accent-color);
    font-size:2.25rem;
    font-family:'Yatra One', 'Macondo Swash Caps', 'cursive', 'Arial', 'sans-serif';
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}

.fantasy-text {
    font-family:'Milonga', 'cursive', 'Arial', 'TrebuchetMS', 'sans-serif';
    color:var(--primary-color);
    
}

.mt-2 {
    margin-top:0.5rem;
}

.my-1 {
    margin-top:0.25rem;
    margin-bottom:0.25rem;
}

@media screen and (min-width:640px) {
    :root {
        font-size:12px;
    }
}

@media screen and (min-width:768px) {
    :root {
        font-size:14px;
    }
}

@media screen and (min-width:1024px) {
    :root {
        font-size:16px;
    }
}

@media screen and (min-width:1280px) {
    :root {
        font-size:18px;
    }
}

@media screen and (min-width:1536px) {
    :root {
        font-size:20px;
    }
}