<!DOCTYPE html>
<!-- password_reset_email.html -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Password Reset Requested</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/registration/css/style.css">
</head>

<body>
    <header>
        <img src="../../static/registration/images/logo192.png" alt="Odyssey logo: a sailing ship on rough seas surrounded by a compass rose"/>
        <h2>Odyssey</h2>
    </header>

    <div class="hero"></div>

    <main>
        <p>Hello!</p>
        <p>You're receiving this email because you requested a password reset
            for
            your account.</p>
        <p>Please click the following link to reset your password. This link
            will expire after 1 hour.</p>
        <p class="reset-link">
            <a
                href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset
                Password</a>
        </p>
        <p>If you didn't request a password reset, please ignore this email.</p>
    </main>

</body>

</html>